.checkbox-wrapper-63 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-63 *,
.checkbox-wrapper-63 ::after,
.checkbox-wrapper-63 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-63 .switch {
    font-size: 0.8rem;
    /* optimized for mobile */
    position: relative;
    display: inline-block;
    width: 3em;
    /* optimized for mobile */
    height: 1.5em;
    /* optimized for mobile */
}

/* The slider */
.checkbox-wrapper-63 .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #eee;
    transition: 0.4s;
    border-radius: 0.4em;
    /* adjusted slightly for mobile */
    box-shadow: 0 0.2em #dfd9d9;
}

.checkbox-wrapper-63 .slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    /* optimized for mobile */
    width: 1.2em;
    /* optimized for mobile */
    border-radius: 0.3em;
    left: 0.2em;
    /* optimized for mobile */
    bottom: 0.6em;
    /* optimized for mobile */
    background-color: var(--orange);
    transition: 0.4s;
    box-shadow: 0 0.3em #bcb4b4;
}

@media (hover: hover) {
    .checkbox-wrapper-63 .slider:hover::before {
        box-shadow: 0 0.2em #bcb4b4;
        bottom: 0.5em;
    }
}

@media (hover: none) {
    .checkbox-wrapper-63 .slider:active::before {
        box-shadow: 0 0.2em #bcb4b4;
        bottom: 0.5em;
    }
}

.checkbox-wrapper-63 input:checked+.slider::before {
    transform: translateX(1.4em);
    /* optimized for mobile */
    background: lightgreen;
}

/* For larger screens */
@media (min-width: 768px) {
    .checkbox-wrapper-63 .switch {
        font-size: 1rem;
        width: 4em;
        height: 2em;
    }

    .checkbox-wrapper-63 .slider:before {
        height: 1.5em;
        width: 1.4em;
        left: 0.3em;
        bottom: 0.7em;
    }

    .checkbox-wrapper-63 input:checked+.slider::before {
        transform: translateX(2em);
    }
}